## Visual Studio - DO THIS FIRST!
.vs/
.vscode/
*.user
*.suo
*.cache
*.VC.db

## Build
bin/
obj/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
packages/
*.nupkg

## Sensitive
.env
appsettings.*.json
secrets.json

## OS
.DS_Store
